{% extends 'base.html' %}
{% block content %}

<h1>Delete Restaurant</h1>

<h4>Are you sure you want to delete {{ object.restaurantName }}?</h4>

<div id="confirm-delete" style="display:flex;align-items:center;">
    <form action="" method="post">
        {% csrf_token %}
            <input type="submit" value="Yes - Delete!" class="btn btn-large">
    </form>
    <a href="{% url 'rest_profile' restaurant.id %}" class="btn btn-large btn-flat" style="margin-top:2rem; margin-left:3rem;">Cancel</a>
</div>


{% endblock %}