body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

/* ***********
  Navigation styles
  ************* */

nav {
  background-color: #d9753b;
}
nav ul li {
  list-style-type: none !important;
}
.nav-wrapper {
  margin: 0 2rem;
}
a.brand-logo {
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: 900;
}
a.brand-logo > img {
  height: 60px;
}

/* ***********
  General styles
  ************* */
main {
  flex: 1 0 auto;
  padding-bottom: 3rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #d9753b;
}
h2 {
  font-size: 2.5rem !important;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #d9753b;
}
h3 {
  font-size: 2rem !important;
}
strong {
  font-weight: 700;
}
p.lead {
  font-size: 1.5rem;
}
ul > li {
  list-style-type: disc !important;
}
ul.inset {
  margin-left: 1.5rem;
}
li {
  margin-bottom: 10px;
}
footer {
  padding-top: 0;
  background-color: black;
}
footer p {
  color: white;
  font-size: 0.8rem;
}
div.justify-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
a.btn-flat.btn-large {
  background-color: #d9753b;
  color: white;
  font-weight: 600;
}
a.btn-flat.btn-large:hover, a.btn-flat.btn-large:active, a.btn-flat.btn-large:focus {
  background-color: black;
}

li.active > div {
  background-color: cornsilk;
  color: #1976d2;
}

.delete {
  background-color: #d91818;
}

/* ***********
  Home page styles
  ************* */
img.home-ill {
  width: 70%;
  display: block;
  margin: auto;
}
/* ***********
  Restaurant Profile page styles
  ************* */
div#restProfile h1 {
  font-size: 2.5rem;
}
div#restProfile h2 {
  font-size: 2rem !important;
}
div#restProfile h3 {
  font-size: 1.7rem !important;
  font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: black;
}
img#logo {
  max-width: 350px;
  margin-top: 2rem;
}
/* ***********
  Form styles
  ************* */

form p, form ul {
    font-size: .82rem !important;
    color: grey;
  }
  form ul li {
    margin-bottom: 0;
    margin-left: 1rem;
  }
  .input-field > label, label > span {
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: black;
    font-size: 1rem;
  }

  input[type='submit'] {
    background-color: black;
      color: white;
      font-weight: 600;
      margin-top: 2rem;
  }
  [type="checkbox"]:checked+span:not(.lever):before {
    border-right-color: black !important;
    border-bottom-color: black !important;
  }
  input[type='submit']:hover, input[type='submit']:active, input[type='submit']:focus {
    background-color: #d9753b;
  }
input[type='checkbox'], input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: black !important;
}
input.invalid[type=text]:not(.browser-default), input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),x
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom-color: #d9753b !important;
  box-shadow: 0 1px 0 0 #d9753b !important;
}
  #map {
    height: 500px;
    width: 500px;
  }
