{% extends 'base.html' %}
{% load materializecss %}
{% block content %}
<h1>Create Restaurant Profile</h1>
<div class="row">
    <div class="col s6">
        <form action="{% url 'rest_create' %}" method="post" class="container-3">
            <h6>Find My Restaurant</h6>

            {% csrf_token %}
            <input type="text" name="placestext" id="placestext">
            <input type="hidden" name="router" value="1">
            <input type="submit" value="Places Search" class="btn">
        </form>
        <ul id="search-results" class="collapsible">
        {% if restaurants %}
            {% for restaurant in restaurants %}
            <li class="sites" id="{{restaurant.id}}">
                <div class="collapsible-header">
                    <div><p><strong>{{restaurant.name }}</strong></p></div>
                </div>
                    <div class="collapsible-body"><span>
                        <div>
                            <div><p>{{restaurant.formatted_address }}</p></div>
                            <a id="{{restaurant.id}}" class="btn btn-large btn-flat ">Add Restaurant Details</a>
                            <input type="hidden" name="name" value="{{restaurant.name}}">
                            <input type="hidden" name="address" value="{{restaurant.formatted_address}}">
                            <input type="hidden" name="latitude" value="{{restaurant.geometry.location.lat}}">
                            <input type="hidden" name="longitude" value="{{restaurant.geometry.location.lng}}">
                        </div>
                    </span>
                </div>
            </li>
            {% endfor %}
        {% endif %}
        </ul>
    </div>
    <div class="col s6">
        <form action="{% url 'rest_create' %}" method="POST">
            {% csrf_token %}
            {{ form|materializecss }}
            <input type="hidden" name="router" value="2">
            <input type="submit" value="Create My Restaurant Profile" class="btn">
        </form>
    </div>
</div>        
{% endblock %}