{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ restaurant.restaurantName }}</span>
                <p>{{ restaurant.address }}</p>
                <p>{{ restaurant.phone }}</p>
                <a href="{{ restaurant.url }}">{{ restaurant.url }}</a>
                <p>{{ restaurant.aboutUs }}</p>
                <p>{{ restaurant.mealCost }}/meal</p>
                <p>{{ restaurant.goal }}</p>
                <p>{{ restaurant.totalCollected }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'rest_update' restaurant.id %}">Edit</a>
                <a href="{% url 'rest_delete' restaurant.id %}">Delete</a>
            </div>
        </div>
        {% for logo in restaurant.logo_set.all %}
            <img class="responsive-img card-panel" src="{{logo.url}}">
        {% empty %}
            <div class="card-panel center-align">No Logo Uploaded</div>
        {% endfor %}

        <form action="{% url 'add_logo' restaurant.id %}" enctype="multipart/form-data" method="post" class="card-panel">
            {% csrf_token %}
            <input type="file" name="logo-file">
            <br><br>
            <input type="submit" class="btn" value="Upload Logo">
        </form>
    </div>
    <div class="col s6">
        <form action="{% url 'assoc_fac' restaurant.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="placestext" id="placestext">
            <input type="hidden" name="router" value="1">
            <input type="submit" value="Facility Search">
        </form>
        <ul id="search-results" class="collapsible"></ul>
        {% if facilities %}
            {% for facility in facilities %}
            <li class="sites" id="{{facility.id}}">
                <div class="collapsible-header"><strong>{{facility.name}}</strong></div>
                    <div class="collapsible-body"><span><strong>{{facility.formatted_address}}</strong>
                        <br><br>
                        <form action="{% url 'assoc_fac' restaurant.id%}">
                            {% csrf_token %}
                            <button id="{{facility.id}}" class="btn waves-effect waves-light green details">Add Facility</button>
                            <input type="hidden" name="name" value="{{facility.name}}">
                            <input type="hidden" name="address" value="{{facility.formatted_address}}">
                            <input type="hidden" name="latitude" value="{{facility.geometry.location.lat}}">
                            <input type="hidden" name="longitude" value="{{facility.geometry.location.lng}}">
                            <input type="hidden" name="router" value="2">
                        </form>
                    </span>
                </div>
            </li>
            {% endfor %}
        {% endif %}
    </div>



{% endblock %}