{% extends 'base.html' %}
{% block content %}
{% load materializecss %}
<script src="{{ src }}"></script>
<div id="restProfile">
    <div class="row">
        <div class="col s12 l7">
            {% for logo in restaurant.logo_set.all %}
            <img class="responsive-img" src="{{logo.url}}" id="logo">
            <form action="{% url 'rm_logo' restaurant.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="logo_id" value="{{ logo.id }}">
                {% if user.is_authenticated %}
                <button type="submit" class="btn delete"><i class="material-icons">delete</i></button>
                {% endif %}
            </form>
            {% empty %}
            {% if user.is_authenticated %}
            <div class="card-panel center align">No Logo Uploaded</div>
            {% endif %}
            {% endfor %}
            <h1>{{ restaurant.restaurantName }}</h1>
            <p>{{ restaurant.address }}<br />
                <strong>Phone: </strong>{{ restaurant.phone }}<br />
                <a href="{{ restaurant.url }}">{{ restaurant.url }}</a></p>
            <h2>About Us:</h2>
            <p>{{ restaurant.aboutUs }}</p>
            {% if rest_facs %}
            <h3>We provide meals to:</h3>
            <ul>
                {% for rest_fac in rest_facs %}
                <li>
                    <div class=flex>
                        <div>{{ rest_fac.facilityName }}</div>
                    </div>
                </li>
                <form action="{% url 'rm_fac' restaurant.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="facility_id" value="{{ rest_fac.id }}">
                    {% if user.is_authenticated %}
                    <button type="submit" class="btn delete"><i class="material-icons">delete</i></button>
                    {% endif %}
                </form>
                {% endfor %}
            </ul>
            {% endif %}
            <h3>Cost: ${{ restaurant.mealCost }}/meal</h3>
            <p>Help us reach our weekly goal of {{ restaurant.goal }} meals!</p>
            <p>Meals ordered so far this week: {{ restaurant.mealsDonated }}</p>
            <form action="{% url 'add_meals' restaurant.id %}" method="POST">
                {% csrf_token %}
                <label for="mealNumber">How many meals would you like to donate?</label>
                 <input type="number" name="mealNumber" id="mealNumber">
                 <input type="submit" value="Add to cart" class="btn btn-large btn-flat">
            </form>
            <p id="paypal" data-dollarAmount="{{ dollar_amount }}">Total: ${{ dollar_amount }}</p>

            <div class="col s4 m1" id="paypal-button-container" onclick="createTransaction()"></div>
            <form id="createTransaction" action="{% url 'create_transaction' restaurant.id %}" class="hidden">
                <input type="hidden" name="meal_number" value="{{ meal_number }}">
                <input type="hidden" name="dollar_amount" value="{{ dollar_amount }}">
                <input type="hidden" name="restaurant_id" value="{{ restaurant.id }}">
            </form>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class=row>
        <div class="col12">
            <a href="{% url 'rest_update' restaurant.id %}" class="btn btn-large btn-flat">Edit</a>
            <a href="{% url 'rest_delete' restaurant.id %}" class="btn btn-large btn-flat">Delete</a>
        </div>    
    </div>
</div>
<div class="restTools">
    <div class="row">
        <div class="col12">
            <form action="{% url 'add_logo' restaurant.id %}" enctype="multipart/form-data" method="post" class="card-panel">
                {% csrf_token %}
                <input type="file" name="logo-file" id="logo-file" onchange="testFile()">
                <br><br>
                <input type="submit" class="btn" value="Upload Logo" id="upload-logo" disabled>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col12">
            <form action="{% url 'rest_profile' restaurant.id %}" method="post" class="container-3">
                <h6>Search for a Facility</h6>
                {% csrf_token %}
                <input type="text" name="placestext" id="placestext">
                <input type="hidden" name="router" value="1">
                <input type="submit" value="Facility Search" class="btn">
            </form>
            <ul id="search-results" class="collapsible">
            {% if facilities %}
                {% for facility in facilities %}
                <li class="sites" id="{{facility.id}}">
                    <div class="collapsible-header">
                        <div><p><strong>{{facility.name}}</strong></p></div>
                    </div>
                        <div class="collapsible-body"><span>
                            <div>
                                <div><p>{{facility.formatted_address}}</p></div>
                                <form action="{% url 'assoc_fac' restaurant.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" id="{{facility.id}}" class="btn waves-effect waves-light green details">Link Facility</button>
                                    <input type="hidden" name="name" value="{{facility.name}}">
                                    <input type="hidden" name="address" value="{{facility.formatted_address}}">
                                    <input type="hidden" name="latitude" value="{{facility.geometry.location.lat}}">
                                    <input type="hidden" name="longitude" value="{{facility.geometry.location.lng}}">
                                </form>
                            </div>
                        </span>
                    </div>
                </li>
                {% endfor %}
            {% endif %}
            </div>
            <hr>
            <div>
                <h5>Add your PayPal Merchant ID</h5>
                <p>Current PayPal Merchant ID: {{ restaurant.merchantID }}</p>
                <form action="{% url 'rm_merchid' restaurant.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="merchid" value="{{ restaurant.merchantID }}">
                    <button type="submit" class="btn delete"><i class="material-icons">delete</i></button>
                </form>
                
                <form action="{% url 'add_merchid' restaurant.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="merchid">
                    <input type="submit" class="btn" value="Add PayPal ID">
                </form>

            </div>
            <a href="{% url 'rest_update' restaurant.id %}" class="btn btn-large btn-flat">Edit Profile</a>
            <a href="{% url 'rest_delete' restaurant.id %}" class="btn btn-large btn-flat">Delete Profile</a>
        </div>
    </div>

    <div class=row>
        <div class="col12">
            <a href="{% url 'rest_update' restaurant.id %}" class="btn btn-large btn-flat">Edit Profile</a>
            <a href="{% url 'rest_delete' restaurant.id %}" class="btn btn-large btn-flat">Delete Profile</a>
        </div>    
    </div>
</div>
{% endif %}
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>
    function testFile(){
        console.log('file changed!');
        document.getElementById('upload-logo').removeAttribute("disabled");
    }

    let dollar_amount = document.getElementById('paypal').getAttribute('data-dollarAmount')
    function createTransaction() {
        document.getElementById('createTransaction').submit();
    }
    paypal.Buttons({
      createOrder: function(data, actions) {
        // This function sets up the details of the transaction, including the amount and line item details.
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: dollar_amount
            }
          }]
        });
      },
      onApprove: function(data, actions) {
        // This function captures the funds from the transaction.
        return actions.order.capture().then(function(details) {
          // This function shows a transaction success message to your buyer.
          alert('Transaction completed by ' + details.payer.name.given_name);
          createTransaction();
          console.log(data);
        });
      }
    }).render('#paypal-button-container');
    //This function displays Smart Payment Buttons on your web page.
  </script>
{% endblock %}