{% extends 'base.html' %}
{% block content %}

<h1>Donate.</h1>
<p class="lead">Let's find a participating restaurant in your area.</p>
<div class="row">
    <div class="col s6">
        <ul class="collapsible">
            {% for restaurant in restaurants %}
            <li class="sites" id="{{restaurant.id}}">
                <div class="collapsible-header">
                    <div>
                        <h5>{{restaurant.restaurantName}}</h5>
                        <p>{{restaurant.address}}</p>
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>
                        <div>
                            <h6>Partnering with:</h6>
                            <br>
                            <ul>
                            {% for facility in facilities %}
                                {% if facility.restaurant.id == restaurant.id %}
                                <li>{{ facility.facilityName }}</li>
                                <div
                                    id="f{{ facility.id }}"
                                    data-name="{{ facility.facilityName }}"
                                    data-about-us="{{ restaurant.restaurantName }}"
                                    data-lat="{{ facility.lat }}"
                                    data-lng="{{ facility.lng }}"
                                ></div>
                                {% endif %}
                            {% endfor %}
                            </ul>
                            <a href="{% url 'rest_profile' restaurant.id %}" class="btn">Donate</a>
                            {% if user.is_authenticated %}
                            <a href="{% url 'rest_update' restaurant.id %}" class="btn">Edit</a>
                            {% endif %}
                            <div
                                id="r{{ restaurant.id }}"
                                data-name="{{ restaurant.restaurantName }}"
                                data-about-us="{{ restaurant.aboutUs }}"
                                data-lat="{{ restaurant.lat }}"
                                data-lng="{{ restaurant.lng }}"
                            ></div>  
                        </div>
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s6">
        <div id ="map"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="places-search">
        <input type="submit" value="Submit">
    </form>    
</div>
<div 
    id="counts"
    data-rest-count="{{ rest_max }}"
    data-fac-count="{{ fac_max }}"
></div>
<!-- {% for facility in facilities %}
<div
    id="f{{ facility.id }}"
    data-name="{{ facility.facilityName }}"
    data-about-us="{{ facility.restaurant}}"
    data-lat="{{ facility.lat }}"
    data-lng="{{ facility.lng }}"
></div>
{% endfor %} -->
<script>
    let map, infoWindow, marker;
    let restLib = [];
    let facLib = [];
    let restMax = document.getElementById('counts').getAttribute('data-rest-count');
    let facMax = document.getElementById('counts').getAttribute('data-rest-count');
    
    function buildMarkerLibrary(lib, prefix, max){
        for(let i = 1; i <= max; i++){
            let getEl = document.getElementById(`${prefix}${i}`);
            if(getEl){
                let place = {
                id: i,
                name: getEl.getAttribute('data-name'),
                aboutUs: getEl.getAttribute('data-about-us'),
                pos: {
                        lat: Number(getEl.getAttribute('data-lat')),
                        lng: Number(getEl.getAttribute('data-lng'))
                    },
                type: prefix
                }
            lib.push(place);    
            }
        }
    }

    buildMarkerLibrary(restLib, "r", restMax);
    buildMarkerLibrary(facLib, "f", facMax)
    console.log(restLib);
    console.log(facLib);


    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 59.325, lng: 18.070},
        zoom: 13
        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                let pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                setMarkers(map, restLib);
                setMarkers(map, facLib);
                map.setCenter(pos);
                map.setZoom(12);
            

        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
        } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
        }
    }
    function setMarkers(map, lib){
        for (let i = 0; i < lib.length; i++) {
            let place = lib[i];
            let imageUrl;
            if(place.type === 'r'){
                imageUrl = '/static/images/restaurant_icon.png';
            } else {
                imageUrl = '/static/images/facility_icon.png';
            }

            let infoWind = new google.maps.InfoWindow({
                content: ''
            })
            let image = {
                url: imageUrl,
                size: new google.maps.Size(25, 25),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 25)
            }
            let marker = new google.maps.Marker({
                position: place.pos,
                map: map,
                icon: image,
                animation: google.maps.Animation.DROP,
                title: lib[i].name
            })
            let placeHTML = contentBuilder(place);
            bindInfoWindow(marker, map, infoWind, placeHTML);
        }
        function bindInfoWindow(marker, map, infoWind, html) {
            google.maps.event.addListener(marker, 'click', function() {
            infoWind.setContent(html);
            infoWind.open(map, marker);
    });
} 
    }
    
    function contentBuilder(place){
        if(place.type){
            let contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                `<h5 id="firstHeading" class="firstHeading">${place.name}</h5>`+
                '<div id="bodyContent">'+
                `<p>${place.aboutUs}</p>`+
                `<a class="btn" href="/restaurants/${place.id}">Donate</a>`+
                '</div>'+
                '</div>';

        }
    }
    
    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
        }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSoVHw83uV_E-uSqxMW7nTxuT4OQCL2m4&callback=initMap"></script>

{% endblock %}
