{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Libre+Franklin:wght@700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <title>Feed the Frontline</title>
</head>

<body>
    <main class="container">
        <div class="row">
            <div class="col12">
                <h1 class="center-align">Feed the Frontline</h1>
                <p class="center-align lead">One donation. Two beneficiaries.</p>
                <img class="home-ill" src="{% static 'images/home-illustration1.svg' %}" alt=" illustration of heart, chef's touque, and doctor">
            </div>
            <div class="col12">
                <p class="lead center-align">Donate meals to healthcare providers and first responders. <br>
                    Help keep local restaurants in business and people employed.</p>
            </div>
        </div>
        <div class="row center-align">
                <div class="justify-around">
                    <div><a href="#" class="btn-flat btn-large">I'm a restaurant</a></div>
                    <div><a href="#" class="btn-flat btn-large">I want to donate</a></di>
                </div>
        </div>
    </main>
    <footer>
        <div class="center-align">
            <p>&copy;2020 Feed the Frontline | All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>