{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col12">
        <h1>Thank you!</h1>
<h2>Your donation is helping local restaurants keep people employed, and feeding our frontline heros.</h2>
    </div>
</div>

<div class="row">
    <div class="col s12 l9">
    <p class="lead">Your donation of {{ transaction.mealNumber}} meal(s) will be delivered by {{ restaurant.restaurantName }} to one of their partnered facilities: 
        {% if rest_facs %}
        <ul>
            {% for rest_fac in rest_facs %}
            <li>{{ rest_fac.facilityName }}</li>
            {% endfor %}
        </ul>
        {% endif %}</p>
    </div>
    <div class="col s6">
        
    </div>
</div>
{% endblock %}